
<h1>Blog</h1>
{{{this.data.pets}}}
<div class="blog">
	{{#each data.posts.results}}
		<div>
			<h2>{{this.title}}</h2>
			<p>
				Published on the {{date this.publishedDate format='Do \o\f MMMM, YYYY'}}
				{{#if author.name.first}}
				<p>
					By {{author.name.first}}
				</p>
				{{/if}}
				{{#if this.pets}}
					<p>With {{arrayToStringList this.pets 'name'}}</p>
				{{/if}}
			</p>
		</div>
		<br>
		<div class="post">
			{{{this.content.extended.html}}}
		</div>

		{{#compare ../data.posts.results.length 1 operator=">"}}
			{{#compare false @last operator="=="}}
			<hr>
			{{/compare}}
		{{/compare}}
	{{/each}}

</div>
{{!-- <div class="col-sm-4 col-md-3">
	<h2>Categories</h2>
	<div style="margin-top: 70px;" class="list-group">
		<a href="/blog" class="active list-group-item">All Categories</a>
		{{# each data.categories }}
		<a href="{{categoryUrl key}}" class="false list-gro">{{name}}</a>
		{{/each}}
	</div>
</div>
{{>pagination}}
 --}}
