{{!< default}}
	{{{data.page.content.html}}}

<div class="gallery">
	{{#each data.page.images}}
		<div class="tileable gallery-element">
			<a class="fancybox-gallery" rel="fancybox-thumb" href="{{this.url}}">
				<img align="center" width="{{this.width}}" height="{{this.height}}" src="{{this.url}}"/>
			</a>
		</div>

{{!-- 		<div class="tileable gallery-element">
			<a class="fancybox-gallery" rel="fancybox-thumb" href="/uploads/files/images/{{this.filename}}">
				<img src="/uploads/files/images/{{this.filename}}"/>
			</a>
		</div>
 --}}
 {{/each}}
</div>
